@{
    ViewBag.Title = "О программе";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Склады промышленных предприятий – неотъемлемая часть общего технологического процесса производства, которое формирует организационные, технические и экономические требования к складской системе, устанавливает цели и условия ее оптимального функционирования. Правильно организованное складское хозяйство способствует повышению ритмичности и организованности производства; сохранению качества продукции, материалов, сырья; улучшению использования занимаемых территорий; повышению эффективности работы транспорта; высвобождению работников от непроизводительных погрузочно-разгрузочных и складских работ для использования их в основном технологическом процессе.     </p>
